<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Dashboard - Agrominas</title>
  <link rel="stylesheet"
    href="/dashboard/style.css">
  <script src="/dashboard/fetchUsers.js"></script>

</head>

<body>

  <div class="container">
    <aside class="sidebar">
      <img src="/images/Rectangle 1.png"
        alt="Logo Agrominas"
        class="logo">
      <h1>AGROMINAS</h1>
      <button class="btn">DASHBOARD</button>
      <button class="btn">Criar estudante</button>
      <button class="logout-btn">⏻ Deslogar</button>
    </aside>

    <main class="main-content">
      <div class="cards">
        <div class="card"
          id="active-students">
          <div class="card-value">30</div>
          <div class="card-label">Total de estudantes</div>
        </div>
        <div class="card">
          <div class="card-value">20</div>
          <div class="card-label">Estudantes ativos</div>
        </div>
        <div class="card">
          <div class="card-value">-</div>
          <div class="card-label">Estudantes desativados</div>
        </div>
      </div>

      <div class="image-container">
        <img src="../../images/cow-image.png"
          alt="Cow"
          class="cow-image" />
      </div>
    </main>
  </div>

</body>

</html>