<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="/user-list/style.css">
  <title>Agrominas</title>

</head>

<body>
  <div class="sidebar">
    <img src="logo.png"
      alt="Agrominas Logo"
      width="100">
    <h2>AGROMINAS</h2>
    <button id="dashBoard">DASHBOARD</button>
    <button>Criar estudante</button>
    <button class="logout-btn">⏻ Deslogar</button>
  </div>
  <div class="content">
    <div class="user-list"
      id="userList"></div>
  </div>

  <script src="/user-list/listUsers.js"></script>
  <script src="/user-list/editUser.js"></script>
  <script src="/user-list/deleteUser.js"></script>
</body>

</html>